<%layout("layouts/boilerplate")%>
<style>
    
    .main{
        height: 100%;
    }
    .change{
        background-color: transparent;
        color: white;
        border-radius: 20px;
        padding: 15px;
    }
    .glass{
            background: linear-gradient(135deg,rgba(255,255,255,0.2),rgba(255,255,255,0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border: 1px solid rgba(255,255,255,0.18);
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        }
</style>
<script>
    const mapToken="<%=process.env.MAP_TOKEN%>";
    const listing = <%-JSON.stringify(obj)%>;
</script>
<br><br><br>
<div class=" main row col-xl-12 mt-5 me-5">
    <div class="card col-10 mb-3 offset-1 change glass">
        <div class="row g-0">
        <div class="col-xl-4 ">
            <img src="<%=obj.image.url%>" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-xl-8 ">
            <div class="card-body ms-5 mb-3 me-3">

            <h1 class="card-title"><b><%=obj.keywords%></b></h1>
            
            <!-- <p class="card-text"><b>FOUND LOCATION:</b>&nbsp;&nbsp;&nbsp;<%=obj.location%></p>
            <br> -->
            <p class="card-text"><b>FOUND DATE:</b>&nbsp;&nbsp;&nbsp;<%=obj.lostDate.toString().split(" ").slice(0,4).join("-")%></p>
            
            <p class="card-text"><b>PHONE NO:</b>&nbsp;&nbsp;&nbsp;<%=obj.phone%></p>
            
            <p class="card-text"><b>DESCRIPTION:</b>&nbsp;&nbsp;&nbsp;<%=obj.description%></p>
            <div id="map"></div>
        </div>
            
        </div>

        </div>
    </div>
</div>

<script src="/js/map.js"></script>
 